/*COLOR VARAIBLES*/
:root {
    --red: #FF5A5F;
    --blue: #5C9DFF;
    --black: #2A2A2A;
    --white: #F5F5F5;
}

/*ABOUT PAGE*/
.aboutWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whoAmI {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 5rem;
    margin: 2rem 5rem;
}

.whoAmI h1 {
    color: var(--red);
    font-size: 27px;
}

.whoAmI br {
    grid-column: 1;
    grid-row: 2;
}

.pList {
    grid-column: 1;
    grid-row: 3;
}

.aboutH1 {
    margin: 0;
    grid-column: 1;
    grid-row: 1;
}

.aidenRedmond {
    grid-column: 2;
    grid-row: 1 / 4;
    width: auto;
    height: 450px;
}

.whoAmI p {
    margin: 0;
    padding: 0;
    padding-bottom: 0.125rem;
    font-size: 20px;
}

.links {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px 75px;
}

.linkWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 27px;
    margin-top: 3rem;
}

.bigPic {
    position: absolute;
    width: 350px;
    height: 525px;
    top: 110px;
    left: 900px;
    margin-right: 3rem;
}

/*ANIMATION TESTING*/
.links a {
    text-decoration: none;
    font-size: 20px;
    box-shadow: insert 0 0 0 0 var(--red);
    color: var(--white);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.links a:hover {
    box-shadow: inset 132px 0 0 0 var(--red);
}