/*COLOR VARAIBLES*/
:root {
    --red: #FF5A5F;
    --blue: #5C9DFF;
    --bgColor: #2A2A2A;
    --textColor: #F5F5F5;
}

/*INTRO SECTION*/
.whoAmI {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 5rem;
    margin: 2rem 5rem;
}

.whoAmI h1 {
    color: var(--red);
    font-size: 27px;
}

.whoAmI p {
    margin: 0;
    padding: 0;
    padding-bottom: 0.125rem;
    font-size: 20px;
}

img {
    grid-column: 2;
    grid-row: 1 / 4;
    height: 450px;
}


/*LINKS*/
.links {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px 75px;
}

.linksHeader {
    color: var(--blue);
    font-size: 27px;
}

.linkContainer {
    margin-top: 2rem;
}

/*LINK HOVER ANIMATION*/
.links a {
    text-decoration: none;
    font-size: 20px;
    box-shadow: insert 0 0 0 0 var(--red);
    color: var(--textColor);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.links a:hover {
    box-shadow: inset 132px 0 0 0 var(--red);
}