/*COLOR VARAIBLES*/
:root {
    --red: #FF5A5F;
    --blue: #5C9DFF;
    --bgColor: #2A2A2A;
    --textColor: #F5F5F5;
}

.manWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 5rem;
}

.man {
    display: grid;
    grid-template-columns: auto 700px;
    gap: 100px;
}

.manPhoto {
    padding: 0;
    height: 353px;
    width: auto;
}

.man p {
    color: var(--textColor);
    font-size: 24px;
    margin: 0;
}

.man span {
    color: var(--red);
    font-weight: bold;
}

.linkWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resourcesNBacklog {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2,auto);
    gap: 0.25rem 35rem;
}

.resourcesNBacklog p {
    margin: 0;
    font-size: 20px;
}

.title {
    font-weight: bold;
    color: var(--blue);
}

.YBlinks {
    text-decoration: underline;
    color: var(--white);
}

.rightAlign {
    justify-self: end;
}

.submit {
    background-color: var(--blue);
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
}

.textInput {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reccGrid {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 2rem;
    margin: 4rem 10rem;
}

.reccGrid p {
    font-size: 20px;
    color: var(--red);
    font-weight: bold;
}

input {
    margin: 5px 5px;
}

form {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
}

/*GRID FORMATTING*/
.general {
    grid-column: span 2;
}