/*COLOR VARAIBLES*/
:root {
    --red: #FF5A5F;
    --blue: #5C9DFF;
    --bgColor: #2A2A2A;
    --textColor: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 2rem 5rem 1rem 5rem;
    color: var(--red);
}

h6 {
    margin: 1rem 5rem 2rem 5rem;
    font-size: 18px;
    color: var(--blue);
}

p {
    line-height: 150%;
    font-size: 16px;
    margin: 2rem 5rem;
}