/*COLOR VARAIBLES*/
:root {
    --red: #FF5A5F;
    --blue: #5C9DFF;
    --bgColor: #2A2A2A;
    --textColor: #F5F5F5;
}

/*INTRO STUFF*/
.center {
    margin: auto;
}
.container { /*BLOCK STYLING*/
    display: grid;
    grid-template-columns: auto 200px auto 100px;
    grid-auto-rows: auto;
    margin: 3rem 0 7rem 0;
    align-items: center;
}

.container > p { /*ITEM SYLING*/
    font-size: 35px;
    margin: 0;
}

.things { /*THINGS TEXT*/
    color: var(--red);
    font-weight: bold;
}

.line1 { /*PUT LINE 1 IN 1,1*/
    grid-column: 1;
    grid-row: 1;
}

.line2 { /*PUT LINE 2 IN 2,1*/
    grid-column: 1;
    grid-row: 2;
}

.line3 { /*PUT LINE 3 IN 3,1*/
    grid-column: 1;
    grid-row: 3;
}

.profilePic { /*PUT THE PROFILE PIC IN THE 3RD COL*/
    grid-column: 3;
    grid-row: span 3;
}


/*STATS STUFF*/

.quick-stats { /*SIZE & LOCATION*/
    font-size: 25px;
}

.quick-stats > p{ /*FIX MARGINS FOR INBETWEEN LINES*/
    margin: 0.25rem;
}

.blueBold { /*MAKE BLUE TEXT LOOK BLUE & BOLD*/
    color: var(--blue);
    font-weight: bold;
}

@media only screen and (max-width: 1302px) {
    .container > p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1102px) {
    .container > p {
        font-size: 15px;
    }
}