/*COLOR VARAIBLES*/
:root {
    --red: #FF5A5F;
    --blue: #5C9DFF;
    --black: #2A2A2A;
    --white: #F5F5F5;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: "Inter", sans-serif;
}



/*NAVBAR STUFF*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar > li { /*RIGHT ALIGN NAVBAR ELEMENTS*/
    float: right;
}

li > a { /*DESIGN OF NAVBAR ELEMENTS*/
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    color: var(--white);
}

li > a.active { /*SET NAVBAR ELEMENT TO RED WHEN CLICK ON*/
    color: var(--red);
}

.header { /*POSITIONING OF THE POTB*/
    margin: 0;
    position: absolute;
    padding: 14px 16px;
}

.header > a { /*STYLES OF THE POTB*/
    text-decoration: none;
    color: var(--blue);
    font-weight: 700;
    font-size: 18px;
}



/*INTRO TEXT*/
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 13rem;
}
.container { /*BLOCK STYLING*/
    display: grid;
    grid-template-columns: auto 300px auto 133px;
    grid-template-rows: repeat(3,auto);
    margin-top: 3rem;
    margin-bottom: 7rem;
}

.container > p { /*ITEM SYLING*/
    font-size: 35px;
    margin: 0;
}

.things { /*THINGS TEXT*/
    color: var(--red);
    font-weight: bold;
}

.line1 { /*PUT LINE 1 IN 0,0*/
    grid-column: 1;
    grid-row: 1;
}

.line2 { /*PUT LINE 2 IN 1,0*/
    grid-column: 1;
    grid-row: 2;
}

.line3 { /*PUT LINE 3 IN 2,0*/
    grid-column: 1;
    grid-row: 3;
}

.profilePic { /*PUT THE PROFILE PIC IN THE 3RD COL*/
    grid-column: 3;
    grid-row: 1 / span3;
}




/*STATS TEXT*/
.quick-stats { /*SIZE & LOCATION*/
    font-size: 25px;
    margin: 0 14rem;
}

.quick-stats > p{ /*FIX MARGINS FOR INBETWEEN LINES*/
    margin: 0.25rem;
}

.blueBold { /*MAKE BLUE TEXT LOOK BLUE & BOLD*/
    color: var(--blue);
    font-weight: bold;
}



/*ABOUT PAGE*/
.whoAmI {
    padding: 3rem 5rem;
}
.whoAmI h1 {
    color: var(--red);
    font-size: 27px;
}

.whoAmI p {
    margin: 0;
    padding: 0;
    padding-bottom: 0.125rem;
    font-size: 20px;
}

.links {
    padding: 3rem 5rem;
}

.links h1 {
    color: var(--blue);
    font-size: 27px;
}

.bigPic {
    position: absolute;
    width: 350px;
    height: 525px;
    top: 110px;
    left: 900px;
    margin-right: 3rem;
}

.mode {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
}