/*COLOR VARAIBLES*/
:root {
    --red: #FF5A5F;
    --blue: #5C9DFF;
    --black: #2A2A2A;
    --white: #F5F5F5;
}

body {
    background-color: var(--black);
    font-family: "Inter", sans-serif;
}

/*NAVBAR STUFF*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar > li {
    float: right;
}

li > a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 14px 16px;
    color: var(--white);
}

li > a.active {
    color: var(--red);
}

.header {
    margin: 0;
    position: absolute;
    padding: 14px 16px;
}

.header > a {
    text-decoration: none;
    color: var(--blue);
    font-weight: 700;
    font-size: 18px;
}

/*INTRO TEXT*/
p {
    color: var(--white);
    font-size: 35px;
    margin: 0.5rem 0;
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 3rem 14rem;
}

.things {
    color: var(--red);
    font-weight: bold;
}